$background-parallax: #C1E8EC;
$background: #041918;
$font-color: #C1E8EC;
$title-color: #008DD5;


@import "font";

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body  {
  font-family: 'Roboto', sans-serif;
}
// ========
// PARALLAX
// ========

.parallax {
  overflow: hidden;
  position: relative;
  height: 1000px;
}

.parallax_layer {
  background-position: bottom center;
  background-size: auto;
  /* 438px */
  background-repeat: no-repeat;
  position: fixed;
  height: 1000px;
  width: 100%;
  z-index: -1;
}

#layer_0 {
  z-index: 1;
  background-image: url('../assets/img/parallax/layer_0.png');
  background-color: $background-parallax;
}

#layer_1 {
  z-index: 3;
  background-image: url('../assets/img/parallax/layer_1.png');
}

#layer_2 {
  z-index: 3;
  background-image: url('../assets/img/parallax/layer_2.png');
}

#layer_3 {
  z-index: 3;
  background-image: url('../assets/img/parallax/layer_3.png');
}

#layer_4 {
  z-index: 3;
  background-image: url('../assets/img/parallax/layer_4.png');
}

#layer_5 {
  z-index: 3;
  background-image: url('../assets/img/parallax/layer_5.png');
}

#layer_6 {
  z-index: 3;
  background-image: url('../assets/img/parallax/layer_6.png');
  position: absolute;
}

.title-container {
  position: fixed;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

#parallax-title {
  font-family: Blanka;
  font-weight: bold;
  font-size: 5em;
  color: $title-color;
}
// ====
// MAIN
// ====

.maincontainer {
  background-color: $background;
  position: relative;
  z-index: 98;
}

.main {
  max-width: 1100px;
  margin: 0 auto;
  padding: 100px;
  z-index: 99;
  position: relative;
  color: $font-color;
  font-size: 1.3em;
}

.separator {
  width: 90%;
  height: 3px;
  margin: 40px auto;
  background-color: $font-color;
}

p {
  text-align: justify;
}

// .backbone {
//   display: flex;
//   flex-direction: column;
//   align-content: stretch;
// }
//
// .vertebra {
//   width: auto;
//   height: 640px;
//   background-color: grey;
//   margin-bottom: 10px;
// }
//
// .box {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   align-content: stretch;
//   width: auto;
//   height: auto;
//   background-color: rgb(52, 227, 154);
// }
//
// div.title {
//   margin: auto;
//   height: 100%;
// }
//
// body {
//   font-family: sans-serif;
//   color: $font-color;
// }
//
// h1.title {
//   font-size: 8em;
//   color: $title-color;
// }
