$background-parallax: #C1E8EC;
$background: #041918;
$font-color: #FFF;
$title-color: #008DD5;


@import "font";

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body  {
  font-family: 'Roboto', sans-serif;
  text-align: justify;
}

ul {
  list-style-position: inside;
}

b {
  color: $title-color;
}

i {
  color: $background-parallax;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 2px solid $title-color;
  text-align: center;
  padding: 1rem;
}

th {
  background-color: $title-color;
  color: $font-color;
}

img {
  margin: 10px;
  display: block;
  margin: 0 auto;
  width: 20em;
}

// ========
// PARALLAX
// ========

.noparallax {
  overflow: hidden;
  position: relative;
  height: 1000px;
  margin-top: -250px;
}

.parallax {
  overflow: hidden;
  position: relative;
  height: 1000px;
  display: none;
}

.parallax_layer {
  background-position: bottom center;
  background-size: auto;
  /* 438px */
  background-repeat: no-repeat;
  position: absolute;
  height: 1000px;
  width: 100%;
  z-index: -1;
}

#layer_0 {
  z-index: 1;
  background-image: url('../assets/img/parallax/layer_0.png');
  background-color: $background-parallax;
}

#layer_1 {
  z-index: 3;
  background-image: url('../assets/img/parallax/layer_1.png');
}

#layer_2 {
  z-index: 3;
  background-image: url('../assets/img/parallax/layer_2.png');
}

#layer_3 {
  z-index: 3;
  background-image: url('../assets/img/parallax/layer_3.png');
}

#layer_4 {
  z-index: 3;
  background-image: url('../assets/img/parallax/layer_4.png');
}

#layer_5 {
  z-index: 3;
  background-image: url('../assets/img/parallax/layer_5.png');
}

#layer_6 {
  z-index: 3;
  background-image: url('../assets/img/parallax/layer_6.png');
  position: absolute;
}

.title-container {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

#parallax-title {
  font-family: 'Blanka', sans-serif;
  font-weight: bold;
  font-size: 4em;
  color: $title-color;
  text-align: center;
}
// ====
// MAIN
// ====

.maincontainer {
  background-color: $background;
  position: relative;
  z-index: 98;
}

.main {
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px;
  z-index: 99;
  position: relative;
  color: $font-color;
  font-size: 1em;
}

.separator {
  width: 90%;
  height: 3px;
  margin: 60px auto;
  background-color: $title-color;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 2.5em;
  color: $title-color;
  text-align: center;
  padding: 1em;
}

.subtitle {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 2em;
  color: $title-color;
  text-align: center;
  padding: 1em;
}

@import "media";
